* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --LARGE-H1-FONT-SIZE: 3rem;
    --MEDIUM-H1-FONT-SIZE: 2rem;
    --SMALL-H1-FONT-SIZE: 1.5rem;
    --LITTLE-H1-FONT-SIZE: 1.1rem;
    --LARGE-P-FONT-SIZE: 1.5rem;
    --MEDIUM-P-FONT-SIZE: 0.9rem;
    --SMALL-P-FONT-SIZE: 0.8rem;
    --LARGE-SPACING: 2rem;
    --MEDIUM-SPACING: 1.5rem;
    --SMALL-SPACING: 1rem;
    --LITTLE-SPACING: 0.8rem;
}

body {
    height: 100vh;
    background: rgb(24, 20, 20);
    width: 90%;
    margin: auto;
}

header {
    width: 100%;
    position: sticky;
    height: 50px;
    background-color: rgb(24, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: var(--LITTLE-H1-FONT-SIZE);
    color: rgba(255, 255, 255, 0.671);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li,a {
    list-style: none;
    text-decoration: none;
    font-size: var(--MEDIUM-P-FONT-SIZE);
    color: rgba(255, 255, 255, 0.671);
    padding-left: var(--LITTLE-SPACING);
}

.cover-img {
    background: linear-gradient(rgba(24, 20, 20, 0.349), rgba(24, 20, 20, 0.349)), url("images/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    color: #fff;
    display: flex;
    place-content: center;
}

.cover-img-texts {
    display: flex;
    flex-direction: column;
    gap: var(--SMALL-SPACING);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

.cover-img-texts h1 {
    font-weight: 900;
    font-size: var(--LARGE-H1-FONT-SIZE);
}

.cover-img-texts p {
    font-size: var(--LARGE-P-FONT-SIZE);
    line-height: var(--MEDIUM-SPACING);
}

article {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}
.services-texts {
    text-align: center;
    color: #fff;
    padding: var(--LARGE-SPACING);
}

.services-texts h1 {
    font-weight: 700;
    font-size: var(--MEDIUM-H1-FONT-SIZE);
    padding: var(--SMALL-SPACING);
}

.services-texts p {
    line-height: var(--MEDIUM-SPACING);
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--LARGE-SPACING);
    margin-top: var(--LARGE-SPACING);
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--LARGE-SPACING);
}

.info-card {
    flex: calc(100% / 3);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: var(--SMALL-SPACING);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
}

.info-card h2 {
    font-size: var(--LITTLE-H1-FONT-SIZE);
}

.info-card p {
    font-size: var(--MEDIUM-P-FONT-SIZE);
    line-height: var(--MEDIUM-SPACING);
}
.info-card button {
    background: none;
    border: 1px solid rgb(230, 149, 0);
    padding: var(--SMALL-SPACING);
    color: rgb(230, 149, 0);
    border-radius: var(--MEDIUM-SPACING);
}

.about-texts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    gap: 4rem;
    padding-top: 4rem;
}

.about-texts-1, .about-texts-2 {
    flex: calc(100% / 2);
    display: flex;
    flex-direction: column;
    gap: var(--SMALL-SPACING);
    height: auto;
    justify-content: center;
    align-items: left;
}

.about-texts-1, .about-texts-2 {
    padding: var(--MEDIUM-SPACING);
}

.about-texts-1 p, .about-texts-2 p {
    line-height: var(--MEDIUM-SPACING);
}

.about-texts-2 {
    background-color: rgb(230, 149, 0);
    padding-top: 5rem;
}

.about-texts-2 h3 {
    font-size: var(--LITTLE-H1-FONT-SIZE)
}

.about-texts-2 ol {
    display: flex;
    flex-direction: column;
    gap: var(--SMALL-SPACING);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: calc(100% / 3);
    max-width: calc(100% / 3);
}

.column img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.final-info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
}

.final-info h1, .final-info p {
    flex: calc(100% / 2);
    padding: 1rem;
    height: auto;
}

.final-info h1 {
    color: #fff;
    font-weight: 900;
    font-size: var(--LARGE-H1-FONT-SIZE);
}

.final-info p {
    color: rgb(204, 133, 0);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: var(--LARGE-P-FONT-SIZE);
    font-style: italic;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: var(--LARGE-SPACING);
    padding-top: var(--LARGE-SPACING);
}

.block-1 {
    display: flex;
    flex-direction: column;
    gap: var(--SMALL-SPACING);
    flex: 50%;
    color: #fff;
    padding: var(--SMALL-SPACING);
    height: auto;
}

.block-1 h6 {
    font-size: var(--LITTLE-P-FONT-SIZE);
}

.block-1 H1 {
    font-size: var(--MEDIUM-H1-FONT-SIZE);
}

.block-1 p {
    line-height: var(--MEDIUM-SPACING);
    font-size: var(--MEDIUM-P-FONT-SIZE);
}

.block-2 {
    flex: 50%;
    padding: var(--SMALL-SPACING);
    height: auto;
}

.block-2 form {
    display: flex;
    flex-direction: column;
    gap: var(--SMALL-SPACING);
}

input, textarea {
    border: 2px solid rgb(218, 217, 217);
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    padding: var(--LITTLE-SPACING);
    color: #fff;
    font-size: var(--MEDIUM-P-FONT-SIZE);
    outline: none;
}

#button {
    width: 100px;
    padding: var(--LITTLE-SPACING);
    background: none;
    color: rgb(204, 133, 0);
    font-family: inherit;
    border: 1px solid rgb(204, 133, 0);
    border-radius: 2rem;
}

@media screen and (min-width: 200px){

    body {
        width: 100%;
    }
    nav {
        display: none;
    }

    header {
        justify-content: center;
    }

    .cover-img-texts h1, .services-texts h1 {
        font-size: var(--SMALL-H1-FONT-SIZE);
    }

    .cover-img-texts p, .services-texts p, .about-texts-1 p, .about-texts-2 p, .info-card p, .final-info p {
        font-size: var(--SMALL-P-FONT-SIZE);
    }

    .info-cards {
        flex-direction: column;
    }

    .info-card {
        flex: 100%;
        width: 100%;
        padding: var(--SMALL-SPACING);
    }

    .info-card button {
        padding: var(--LITTLE-SPACING);
    }

    .about-texts {
        flex-direction: column;
    }

    .about-texts-1, .about-texts-2 {
        flex: 100%;
        width: 100%;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .final-info {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--SMALL-SPACING);

    }

    .final-info h1, .final-info p {
        width: 100%;
    }

    .final-info h1 {
        font-size: var(--SMALL-H1-FONT-SIZE);
    }

    .final-info p {
        font-size: var(--MEDIUM-P-FONT-SIZE);
    }

    .contact {
        flex-direction: column;
    }

    input, textarea {
        max-width: 210px;
    }

    .block-1, .block-2 {
        flex: 100%;
    }
}

@media screen and (min-width: 500px){

    .cover-img-texts h1, .services-texts h1 {
        font-size: var(--MEDIUM-H1-FONT-SIZE);
    }
    .about-texts-1 h1, .final-info h1 {
        font-size: var(--MEDIUM-H1-FONT-SIZE);
    }

    .cover-img-texts p, .services-texts p, .info-card p, .about-texts-1 p, .about-texts-2 p {
        font-size: var(--MEDIUM-P-FONT-SIZE);
    }

    .final-info p {
        font-size: var(--LARGE-P-FONT-SIZE);
    }
    .info-card h2 {
        font-size: var(--SMALL-H1-FONT-SIZE);
    }

    footer p, footer p a {
        font-size: var(--SMALL-P-FONT-SIZE);
    }

    input, textarea {
        max-width: 350px;
    }
}

@media screen and (min-width: 768px){
    .cover-img-texts h1, .final-info h1 {
        font-size: var(--LARGE-H1-FONT-SIZE);
    }
    .info-cards {
        flex-direction: row;
        align-items: flex-end;
    }

    .info-card button {
        padding: var(--SMALL-SPACING);
    }
    .column {
        flex: calc(100%/3);
        max-width: calc(100%/3);
    }

    input, textarea {
        max-width: 450px;
    }
}

@media screen and (min-width: 992px){
    nav {
        display: block;
    }

    header {
        justify-content: space-between;
        padding: var(--SMALL-SPACING);
    }

    .about-texts {
        flex-direction: row;
    }

    .final-info p {
        font-size: var(--LARGE-P-FONT-SIZE);
    }

    .final-info {
        flex-direction: row;
        align-items: flex-end;
    }

    .contact {
        flex-direction: row;
    }


    input, textarea {
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 90%;
    }

    header {
        padding: 0;
    }
}
